# Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

Ans:Keywords are reserved words which are not be used as a variable name, function name, or any other identifier in python programming.

In [18]:
#import keyword module
import keyword
#printing  keyword list 
x=keyword.kwlist
print(x)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Q.2. What are the rules to create variables in python?
Ans:In python programming we need to used variable while writing code.Following rules need to consider while naming variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

A variable name cannot have any of the Python keywords.

# Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?
Ans: While declaring names of variables in certain naming convention we need to keep in mind. 
1. Python is case sensitive language so Variable name like Year ,year are each different variables.
2. Variables name contain number, _ and A-Z,a-z,0-9 but the first character of a variable name can’t be a digit.
3. Keep variable name logical to our code

# Q.4. What will happen if a keyword is used as a variable name?
Ans:Our code will give error like below i give took variable name if and assign value. it will give SyntaxError: invalid syntax

In [26]:
if=3
print(if)

SyntaxError: invalid syntax (3720963118.py, line 1)

# Q.5. For what purpose def keyword is used?
Ans: Python def keyword is used to define a function, it is used before a function name which user want to create.

# Q.6. What is the operation of this special character ‘\’?
Ans: An escape character is a backslash \ followed by the character which we want to insert.like \n will create new line,\t create tab,\'single quote.

# Q.7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple

In [30]:
#(i) Homogeneous list here our homo_list have same type of integer data type in it

homo_list=[0,1,2,3,4,5]

#(ii) Heterogeneous set here set have integer,float,string data types in it
hetero_set={1,2,3,'Sam',1.5,1}
print(hetero_set)

{1, 2, 3, 1.5, 'Sam'}

In [29]:
type(hetero_set)

set

In [39]:
#(iii) Homogeneous tuple here I have created tuple with all string data types.
Homo_tup=('Apple','Banana','Grapes','Mango')

In [40]:
print(Homo_tup)

('Apple', 'Banana', 'Grapes', 'Mango')

# Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Ans: Mutable data type can be changed after they are created while immutable datatype cannotbe changed after they are created.

Mutable Data type in Python are : List,Dict,Set
Immutable Data type in Python are: Tuple,strings,int,float,bool

In [1]:
#e.g  here we added new element 'Apple' in list and print whole list after adding element at index 3 in it :

ls=[1,2,3,4]
ls[3]='Apple'
ls

[1, 2, 3, 'Apple']

In [2]:
#e.g  here we added new key value 'Address' and it value in Dict in it :
Dict={'Name':'Tom','Age':30,}

In [3]:
Dict['Address']='104-A Faukner St'

In [4]:
Dict

{'Name': 'Tom', 'Age': 30, 'Address': '104-A Faukner St'}

In [5]:
# here giving example of immutable strings and Tuple after assigning new value to 0 index in strings and tuple we get error not support assignment

x='Ineuron'

x[0]

'I'

In [6]:
x[0]="t"

TypeError: 'str' object does not support item assignment

In [10]:
t=(1,2,3,5454,6454)

t[0]=34

TypeError: 'tuple' object does not support item assignment

# Q.9. Write a code to create the given structure using only for loop.

In [93]:
row=10
k=row-1
#this loop for outer row
for i in range(0,row,2):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

         *
        ***
       *****
      *******
     *********

# Q.10. Write a code to create the given structure using while loop.

In [20]:
n = 10

 
i = 1
while i <= n :
    print(end="")
    j = n-1
    
    while j >= i:
        
        print("|", end ="")
        j -=1
            
    i += 2
    print('\r')

|||||||||
|||||||
|||||
|||
|